.alert {
  padding: 1rem 1.5rem;

  border-radius: $border-radius;
}

.alert--error {
  color: $error-700;

  background-color: $error-100;
}

.alert--warning {
  color: $gold-800;

  background-color: $gold-100;
}

.alert--inline {
  display: inline-block;
}
