.btn {
  display: inline-block;
  overflow: hidden;

  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  line-height: inherit;

  border: none;
  background: transparent;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none !important;
  }
}

.btn--default {
  border: 2px solid $gray-300;
  border-radius: $border-radius;

  &:hover,
  &:focus {
    background-color: $gray-200;
  }
}

.btn--medium {
  padding: 0.75rem 1.25rem;
}