.tablist {
  display: flex;
  margin-bottom: 1rem;
}

.tab {
  padding: 0.7rem 1rem;
  margin-right: 0.75rem;

  color: $gray-700;
  font-weight: 500;

  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $gray-100;
  }

  &.is-active {
    color: $gold-700;
    background-color: $gray-100;
  }
}

.tab-alt {
  padding: 0.7rem 1rem;
  margin-right: 0.75rem;

  color: $gray-700;
  font-weight: 500;

  border-radius: 100px;

  &:hover,
  &:focus {
    color: $gold-900;
    background-color: $gold-100;
  }

  &.tab-alt--active {
    color: white;
    background-color: $gold-600;
  }
}