/**
 * Layout
 */

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  border-width: 0;
  border-style: solid;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button {
  cursor: pointer;
}

#app {
  min-height: 100vh;
}

.navbar {
  color: white;

  box-shadow: $shadow-md;

  @media (min-width: 719px) {
    .navbar-links {
      color: white;
    }

    .navbar-items a:hover,
    .navbar-items a.router-link-active {
      color: white;
    }
  }

  .site-name,
  .toggle-dark-button {
    color: white;
  }
}

.toggle-sidebar-button .icon span {
  background-color: $gray-300;
}

/**
 * Components
 */

.theme-default-content:not(.custom) > h2 {
  padding-top: 6rem !important;
}

.theme-default-content *:not(.shiki) > code {
  padding: 0.2rem 0.35rem;

  background-color: transparentize($gray-500, 0.85);
}

div[class*='language-'] .highlight-lines .highlight-line {
  background-color: transparentize($gray-500, 0.85);
  box-shadow: 4px 0 0 $gold-500 inset;
}

.custom-container.tip,
.custom-container.warning,
.custom-container.danger {
  margin-bottom: 1.75rem;
  border-radius: $border-radius;
}

.code-group__nav {
  position: relative;

  &::after {
    content: '';
    width: 100%;

    position: absolute;
    top: 40px;
    left: 0;

    border-bottom: 1px solid $gray-700;
  }
}

.code-group__ul {
  position: relative;
  z-index: 1;
}

.code-group__nav-tab-active {
  color: var(--c-brand-light);
  border-bottom-width: 2px;
}

blockquote {
  color: $gray-700 !important;
}
