/**
 * Layout
 */

html,
body {
  box-sizing: border-box;

  background-color: $gray-200 !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.navbar {
  color: white;

  background-color: $gray-800;
  border-bottom: 0;
  box-shadow: $shadow-md;

  @media (min-width: 719px) {
    .navbar-links {
      color: white;
    }

    .navbar-items a:hover,
    .navbar-items a.router-link-active {
      color: white;
    }
  }

  .site-name {
    color: white;
  }
}

.toggle-sidebar-button .icon span {
  background-color: $gray-300;
}

.sidebar {
  background-color: $gray-100;
  border-right-color: $gray-300;
}

.page {
  background-color: $gray-200;
}

/**
 * Components
 */

.theme-default-content:not(.custom) > h2 {
  padding-top: 6rem !important;
}

.theme-default-content code:not([class*='language-']) {
  padding: 0.2rem 0.35rem;

  color: $gray-700;
  -webkit-font-smoothing: inherit !important;
  -moz-osx-font-smoothing: inherit !important;

  background-color: transparentize($gray-500, 0.85);
}

div[class*='language-'] .highlight-lines .highlight-line {
  background-color: rgba(0, 0, 0, 0.2);
}

.custom-container.tip,
.custom-container.warning,
.custom-container.danger {
  margin-bottom: 1.75rem !important;

  border-left-width: 6px !important;
  border-radius: $border-radius;
}

.custom-container.tip {
  background-color: $gray-300 !important;
  border-color: #63b3ed !important;
}

.code-group__nav {
  position: relative;

  &::after {
    content: '';
    width: 100%;

    position: absolute;
    top: 40px;
    left: 0;

    border-bottom: 1px solid $gray-700;
  }
}

.code-group__ul {
  position: relative;
  z-index: 1;
}

.code-group__nav-tab-active {
  color: var(--c-brand-light);
  border-bottom-width: 2px;
}

blockquote {
  color: $gray-700 !important;
}
